.audio_table {
  flex-grow: 2;
  width: max-content;        /* Shrinks table width strictly to content size */
  border-collapse: collapse; /* Eliminates the default spacing between borders */
  border-spacing: 0;         /* Ensures no extra gap remains between cells */
}

.audio th, td {
  padding: 2px 4px;          /* Minimal padding to keep text readable but dense */
  width: 1px;                /* Forces cells to collapse down to their minimum width */
  white-space: nowrap;       /* Prevents text from breaking onto multiple lines */
}

.auto_table_container {
  display: flex;
  flex-direction: column;
}

.audio_profile_container {
  display: flex;
  flex-direction: row;
  gap:20px;
}
.div_audio_container {
  flex: 1;
  background-color: rgb(227, 217, 217);
  border-color:rgb(0, 128, 255);;
  border-style:solid;
}
.div_audio_container p {
  color: red;
}
.div_command_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  background-color: rgb(227, 217, 217);
  border-color: rgb(0, 128, 255);
  border-style:solid;
  padding: 10px;
}