.canvas_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;   
    margin-botton: 20px;   
    position: relative;
}
.canvas_tag {
    flex: 1;
    background-color:  #333;
    border-width: 2px;
    border-radius: 10px;
    cursor: crosshair;
}
.canvas_operation {
  display: flex;
  flex-grow: 1;
  flex-direction: column;   /* Aligns items from top to bottom */
  justify-content: flex-end; /* Pushes the child element to the top */
  height: 100%;            /* Sets container height (example: full screen) */
  border-width: 2px;
  border-color: black;
  align-items: center;
}
.canvas_button_group {
    display:flex;
    justify-content: center;
    gap:5px;
}
.canvas_button {
    flex-grow: 1;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
}
.canvas_blank_group {
    flex-grow: 4;
}